#header-div{
    position: relative;
    background:  rgb(255, 255, 255, 0.8);
    height: 200px;
}

.header-content{
    width: 100%;
}

h1{
    /* font-family: 'Alex Brush', cursive; */
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    font-size: 2.5rem;
    color: rgb(209, 123, 73);
}

hr{
    border-top:2px solid;
    border-color:#FBC600;
    width: 50%;
}

span{
    /* font-family: 'Cairo', sans-serif; */
    font-family: 'Offside', cursive;
    font-size: 1.2rem;
}