#banner-div{
    margin: 0;
}
.title h2{
    font-family: 'Satisfy', cursive;
    font-weight: 300;
}

/* Desktop */
@media only screen 
and (min-width: 913px)
{   
    #banner-div{
        min-height: 800px;
        min-width: 640px;
        position: relative;
        background: no-repeat center right fixed url(profile2-big.jpg);
        background-size: cover;
    }
    .title{
        position: absolute;
        height: auto;
        top: 35%;
        color:  rgb(209, 123, 73);
    }
}

/* Mobile */
@media screen and (max-width: 912px) {   
    #banner-div{
        min-height: 667px;
        position: relative;
        background: no-repeat center left fixed url(profile2-small.jpg);
        background-size: cover; 
        background-attachment: scroll;
    }

    .title{
        position: absolute;
        top: 27%;
        color: cornsilk;
        font-weight: bold;
        background: rgba(255, 255, 255, 0.3);
        height: 90px;
        display: flex;
        align-items: center;
    }
} 