.title p{
    font-family: 'Alex Brush', cursive;
    font-weight: 500;
}

/* Tablet Portrait and Landscape */
/* @media only screen 
  and (min-width: 794px) 
  and (max-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #banner-div{
        height: 400px;
        position: relative;
        background: no-repeat center right fixed url(profile2-big.jpg);
        background-size: cover;
    }
    .title{
        position: absolute;
        height: auto;
        color: lightsalmon;
        font-size: 40px;
        top: 130px;
    }
} */

/* Desktop */
@media only screen and (min-width: 913px) {   
    #banner-div{
        height: 600px;
        min-width: 640px;
        position: relative;
        background: no-repeat center right fixed url(profile2-big.jpg);
        background-size: cover;
    }
    .title{
        position: absolute;
        height: auto;
        top: 30%;
        color: lightsalmon;
        font-size: 40px;
    }
}

/* Mobile */
@media screen and (max-width: 912px) {   
    #banner-div{
        height: 700px;
        position: relative;
        background: no-repeat center left fixed url(profile2-small.jpg);
        background-size: cover;
    }
    .title{
        position: absolute;
        top: 200px;
        color: cornsilk;
        font-size: 33px;
        font-weight: bold;
        background: rgba(255, 255, 255, 0.3);
        height: 90px;
        display: flex;
        align-items: center;
    }
} 