#profile-div{
    position: relative;
    height: 500px;;
}

.icon{
    width: 35px;
    margin: 10px;
}

.profile-image{
    height: 500px;
}

img{
    opacity: 50%;;
    height: 100%;
    margin-top: 30%;
}

.tagClound{
    border: 2px sold, red;
}
/* font-family: 'Ubuntu', sans-serif; */