p{
    font-family: 'Ubuntu', sans-serif;
}

.image-div{
    min-height:600px;
    position: relative;
    background: no-repeat center right fixed url(building-colors-daylight.jpg);
    background-size: cover;
}