#profile-div{
    height:620px;
}

.main-row{
    height: 100%;
}

#image-div{
    background-image: linear-gradient(to left, #ffcea0 0%, #ffb4af 100%);
}

#cat{
    height: 250px;
    position: relative;
    top: 30%;
    border-radius: 50%;
}

.description{
    top: 20%;
    padding: 50px;
}
.description p{
    font-family: 'Ubuntu', sans-serif;
    word-wrap: normal;
    text-align: left;
    /* text-indent: 2em; */
}