.main-div{
    padding: 20px;
}

.row{
    padding-top: 20px;
}

.skill-col{
    padding-left: 30px;
    padding-right: 30px;
}
p{
    font-family: 'Ubuntu', sans-serif;
    word-wrap: normal;
    text-align: left;
}

